*{
	font-family:arial,
	sans-serif;
	font-size:16px;
	color:#000000
	}
body{
	background-color:#000000;
	background-image:url(roboex.jpg);
	background-repeat:no-repeat;
	background-position: 27px 17px;
	}
table,img{
	border-width:0px
	}
.rahmen{
	position:absolute;
	top:87px;
	left:59px;
	width:882px;
	height:572px;
	background-image:url(border.jpg);
	background-repeat:no-repeat
	}
.rahmen1{
	position:absolute;
	top:30px;
	left:250px;
	width:700px;
	height:500px;
	background-image:url(border.jpg);
	background-repeat:no-repeat
	}
.grossbild{position:absolute;top:87px;left:59px;width:882px;height:572px}
.ueberschrift{color:#6699bb;margin-bottom:38px;letter-spacing:1px;font-weight:bold}
.bildabstand{margin-bottom:38px}
.links,.rechts{width:384px;vertical-align:top}
.zwischen{width:38px}
.links{padding-top:95px}
.rechts{padding-top:38px}




























