*{font-family:arial,sans-serif;font-size:14px;color:#000000}
body{background-color:#000000;background-image:url(roboex.jpg);background-repeat:no-repeat;background-position:27 17}
table,img{border-width:0px}
.nnn{margin-bottom:8px}
.ooo{margin-bottom:30px}
.grossbild{position:absolute;top:87px;left:59px;width:882px;height:572px}
.tabelle{position:absolute;top:87px;left:59px;width:882px;height:572px;background-image:url(guzman4.gif);background-repeat:no-repeat}
.rechtes{vertical-align:top;width:484px;padding-right:30px;padding-top:30px}
.ueber{color:#ff5000;margin-bottom:30px;letter-spacing:1px;font-weight:normal;text-transform:uppercase;font-weight:bold;font-size:12px}
.logo{margin-bottom:30px}
































