*{font-family:arial,sans-serif;font-size:16px;color:#ffffff}
body{background-color:#000000;background-image:url(hintergrund.jpg);background-repeat:no-repeat;background-position:27 17}
table,img{border-width:0px}
.rahmen{position:absolute;top:87px;left:59px;width:882px;height:572px;background-image:url(shifzhinten.jpg);background-repeat:no-repeat}
.grossbild{position:absolute;top:87px;left:59px;width:882px;height:572px}
.ueberschrift{color:#6699bb;margin-bottom:38px;letter-spacing:1px;font-weight:bold}
.colfont{color:#33ff33;margin-bottom:38px;letter-spacing:1px;}
.bildabstand{margin-bottom:38px}
.links,.rechts{width:384px;vertical-align:top}
.zwischen{width:38px}
.links{padding-top:95px}
.rechts{padding-top:38px}




























