*{
	font-family:arial,sans-serif;
	font-size:14px;
	color:#000000
	}
body{
	margin-top:80px;
	background-color:#000000;
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-position: 27px 17px;
	}

.center{
	position: relative;
	left: 200px;
}
	
p{
	font-size:16px
	}
img{
	border-width:0px;
	}
.blue{
	color:#000000;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	}
.size{
	width:646px;
	}
.imagecenter{
	text-align: center;
}